<!-- batOpened.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo</title>
</head>
<body>
    <form action="/open-bat-file" method="GET">
        <label for="batFile">Chọn tập tin .bat:</label>
        <select id="batFile" name="batFile">
            <option value="worker.bat">worker.bat</option>
            <option value="start.bat">start.bat</option>
            <option value="referrals.bat">referrals.bat</option>
            <option value="payments.bat">payments.bat</option>
            <option value="address.bat">address.bat</option>
            <option value="account.bat">account.bat</option>
        </select>
        <button type="submit">Mở tập tin .bat</button>
    </form>


    <h1>Tập tin <%= batFile %> đã được mở...</h1>
</body>
</html>