<!-- views/jsonFileContent.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fileName %></title>
</head>
<body>
    <h1>Nội dung của tập tin <%= fileName %>:</h1>
    <pre><%= JSON.stringify(jsonData, null, 4) %></pre>
</body>
</html>